@model IEnumerable<Training.Dto.CategoryDto>

<ul>
    @foreach (var category in Model)
    {
        <li>
            @Html.ActionLink(category.Name, "Posts", "Home", new { category = category.Name }, null)
        </li>
    }
</ul>
