<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample Title</title>
</head>
<body>
    <div>@{Html.RenderAction("Categories", "Category");}</div>
    <div>@RenderBody()</div>
</body>
</html>
